//Default Variables

// abstracts / variables


:root{
    --theme-color: #F8AF08;
    --base-color: #F8AF08;
    --header-color: #303891;
    --banner-color: #35082B;
    --banner-box: #36309D;
    --amaount-color: #05FF00;
    --box-bg: #7652E1;
    --box-two: #321C55;
    --jack-bg: #251145;
    --modal-bg: #242D04;
    --body-color: #1F214F;
    --slide-btn: #0594F1;
    --custom-base: #0593F0;
    --section-bg: #231d70;
    --white-color: #fff;
    --black-theme: #151515;
    --black-color: #000000;
    --calender: #191D23;
    --ratting-color: #E4A853;
    --pragraph-color: #666666;
    --border: #8A5F31;
    --border-two: #A09FC8;
    --cate-border: #E1CFB7;
    --placehol: #b0bcde;
}